*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:400px;
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

.preview{
    height:140px;
    background:rgb(0,0,0);
    border-radius:6px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:20px;
    margin-bottom:25px;
}

.controls{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.row{
    display:flex;
    align-items:center;
    gap:15px;
}

.row label{
    font-size:18px;
    width:20px;
}

.row input{
    flex:1;
}